/* @import must be at top of file, otherwise CSS will not work */

/* Thin */
@font-face {
  font-family: 'Gilroy';
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_0_0.eot');
  src: url('../fonts/Gilroy/374E5B_0_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_0_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_0_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_2_0.eot');
  src: url('../fonts/Gilroy/374E5B_2_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_2_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_2_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_2_0.ttf') format('truetype');
}

/* Ultra light */
@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_5_0.eot');
  src: url('../fonts/Gilroy/374E5B_5_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_5_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_5_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_1_0.eot');
  src: url('../fonts/Gilroy/374E5B_1_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_1_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_1_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_1_0.ttf') format('truetype');
}

/* Light */
@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_B_0.eot');
  src: url('../fonts/Gilroy/374E5B_B_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_B_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_B_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_B_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_A_0.eot');
  src: url('../fonts/Gilroy/374E5B_A_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_A_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_A_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_A_0.ttf') format('truetype');
}

/* Regular */
@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_6_0.eot');
  src: url('../fonts/Gilroy/374E5B_6_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_6_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_6_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_7_0.eot');
  src: url('../fonts/Gilroy/374E5B_7_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_7_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_7_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_7_0.ttf') format('truetype');
}

/* Medium */
@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_9_0.eot');
  src: url('../fonts/Gilroy/374E5B_9_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_9_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_9_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_9_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_8_0.eot');
  src: url('../fonts/Gilroy/374E5B_8_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_8_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_8_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_8_0.ttf') format('truetype');
}

/* SemiBold */
@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_4_0.eot');
  src: url('../fonts/Gilroy/374E5B_4_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_4_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_4_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_3_0.eot');
  src: url('../fonts/Gilroy/374E5B_3_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_3_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_3_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_3_0.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_10_0.eot');
  src: url('../fonts/Gilroy/374E5B_10_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_10_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_10_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_10_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_11_0.eot');
  src: url('../fonts/Gilroy/374E5B_11_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_11_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_11_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_11_0.ttf') format('truetype');
}

/* Extra bold */
@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_F_0.eot');
  src: url('../fonts/Gilroy/374E5B_F_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_F_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_F_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_F_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_E_0.eot');
  src: url('../fonts/Gilroy/374E5B_E_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_E_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_E_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_E_0.ttf') format('truetype');
}

/* Black */
@font-face {
  font-family: 'Gilroy';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_12_0.eot');
  src: url('../fonts/Gilroy/374E5B_12_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_12_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_12_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_12_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_13_0.eot');
  src: url('../fonts/Gilroy/374E5B_13_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_13_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_13_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_13_0.ttf') format('truetype');
}

/* Heavy */
@font-face {
  font-family: 'Gilroy-HeavyItalic';
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_C_0.eot');
  src: url('../fonts/Gilroy/374E5B_C_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_C_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_C_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_C_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Heavy';
  font-display: swap;
  src: url('../fonts/Gilroy/374E5B_D_0.eot');
  src: url('../fonts/Gilroy/374E5B_D_0.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy/374E5B_D_0.woff2') format('woff2'),
    url('../fonts/Gilroy/374E5B_D_0.woff') format('woff'),
    url('../fonts/Gilroy/374E5B_D_0.ttf') format('truetype');
}

/* Halyard Display */
/* Book */
@font-face {
  font-family: 'HalyardDisplay';
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/HalyardDisplay/HalyardDisplayBook.woff2') format('woff2'),
    url('../fonts/HalyardDisplay/HalyardDisplayBook.woff') format('woff');
}

/* Regular */
@font-face {
  font-family: 'HalyardDisplay';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/HalyardDisplay/HalyardDisplay-Regular.woff2')
      format('woff2'),
    url('../fonts/HalyardDisplay/HalyardDisplay-Regular.woff') format('woff');
}

/* Halyard Text */
/* Light */
@font-face {
  font-family: 'HalyardText';
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/HalyardText/HalyardText-Light.ttf') format('truetype');
}

/* Regular */
@font-face {
  font-family: 'HalyardText';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/HalyardText/HalyardText-Regular.ttf') format('truetype');
}

/* Medium */
@font-face {
  font-family: 'HalyardText';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/HalyardText/HalyardText-Medium.woff2') format('woff2'),
    url('../fonts//HalyardText/HalyardText-Medium.woff') format('woff');
}

body,
button,
input,
label,
select,
td,
textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  text-rendering: geometricPrecision;
}
